<div class="collapse" id="exCollapsingNavbar">
	<div class="collapse-bg p-a-1">
		<div class="card">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<%= link_to 'Blog', root_path, class: "nav-link #{yield(:blog_active)}"
					%>
				</li>
				<li class="list-group-item">
					<%= link_to 'About', about_path, class: "nav-link #{yield(:about_active)}"
					%>
				</li>
				<li class="list-group-item">
					<%= link_to 'Contact', contact_path, class: "nav-link #{yield(:contact_active)}"
					%>
				</li>
				<% if author_signed_in? %>
					<li class="list-group-item">
						<%= link_to 'My posts', authors_posts_path, class: "nav-link #{yield(:author)}"
						%>
					</li>
					<li class="list-group-item">
						<%= link_to 'Logout', destroy_author_session_path, method: :delete, class: "nav-link"
						%>
					</li>
				<% else %>
					<li class="list-group-item">
						<%= link_to 'Login', new_author_session_path, class: "nav-link"	%>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>

<nav class="navbar navbar-light bg-faded">
	<div class="container">
		<a href="/" class="navbar-brand">
			Elon<span class="light">Blog</span>
		</a>
		<button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
			&#9776;
		</button>
		<ul class="nav navbar-nav pull-sm-right hidden-xs-down">
			<li class="nav-item">
				<%= link_to 'Blog', root_path, class: "nav-link #{yield(:blog_active)}"
					%>
			</li>
			<li class="nav-item">
				<%= link_to 'About', about_path, class: "nav-link #{yield(:about_active)}"
					%>
			</li>
			<li class="nav-item">
				<%= link_to 'Contact', contact_path, class: "nav-link #{yield(:contact_active)}"
					%>
			</li>

			<% if author_signed_in? %>
				<% if current_author.admin? %>
					<li class="nav-item">
						<%= link_to 'Admin', authors_posts_path, class: "nav-link #{yield(:author)}"
							%>
					</li>
					<li class="nav-item">
						<%= link_to 'Logout', destroy_author_session_path, method: :delete, class: "nav-link"
							%>
					</li>
				<% else %>
					<li class="nav-item">
						<%= link_to 'My posts', authors_posts_path, class: "nav-link #{yield(:author)}"
							%>
					</li>
					<li class="nav-item">
						<%= link_to 'Logout', destroy_author_session_path, method: :delete, class: "nav-link"
							%>
					</li>
				<% end %>

			<% else %>
				<li class="nav-item">
					<%= link_to 'Login', new_author_session_path, class: "nav-link"	%>
				</li>
			<% end %>
		</ul>


		  <%= form_tag("/search", method: "post", class: "form-inline float-xs-right") do %>
		  	<%= text_field_tag :key, nil, class: 'form-control', placeholder: "Search" %>
				<%= submit_tag "Search", class: 'btn btn-outline-success' %>

		  <% end %>



	</div>
</nav>

